<form class="theater-form"  method="post">
    {{#with item}}
    <h1>Edit Theater</h1>
    <div>
        <label for="title">Theater Title:</label>
        <input type="text" placeholder="Theater name" name="title" value="{{title}}">
    </div>
    <div>
        <label for="description">Theater Description:</label>
        <textarea placeholder="Description" name="description">{{description}}</textarea>
    </div>
    <div>
        <label for="imageUrl">Image url:</label>
        <input type="text" placeholder="Image Url" name="imgUrl" value="{{imgUrl}}">
    </div>
    <div class="check">
        <input type="checkbox" id="check-box" name="check" {{#if check}} checked {{/if}} >
        <label for="check-box">Public</label>
    </div>
     {{/with}}
    <button class="btn" type="submit">Submit</button>
</form>