<h1>Registre Page</h1>
<form method="post">
    <labe>Username: <input type="text" name="username" value="{{body.username}}"></labe>
    <labe>Password: <input type="password" name="password"></labe>
    <labe>Repass: <input type="password" name="repass"></labe>
    <button>Register</button>
</form>